@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-family: Times New Roman;
    font-size: 18pt;
}

html{
  font-size: 30px;
}

#header {
  margin:20px 20px 20px 20px;
  height: 200px;
  overflow:hidden;
  position: relative;
}

#image{
  opacity: 0.5;
  width: 100%;
  height: auto;
}

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 10px;
}


#headline{
  font-size: 30pt;
  position: absolute;
  margin-top: -600px;
  top: 680px;
  left:250px;
  right:0px;
}


.allergen{
    font-weight: bold;
}

#burgers {
  margin:20px 20px 20px 20px;
  padding: 20px;
  background-color: black;
  color: white;
  border: 2px dashed white;
}

#orderInfo{
    margin:20px 20px 20px 20px;
    padding: 20px;
    border: 2px dashed black;
}

.order-button{
    margin: 10px;
}

.menu-item {
  padding: 20px;
  margin: 20px;
}

button:hover {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}



h1 {
    font-family: 'Agbalumo';
    font-size: 25pt;
}

main {
    background-color: white;
}


